//------------------Knihovny------------------------------------//
#include <WiFi.h>
#include <Discord_WebHook.h>
#include <Arduino.h>
#include <ArduinoOTA.h>
#include <WiFiClient.h>
#include "rfp.h"
#include <WebSerial.h>
#include "time.h"
#include <NTPClient.h>
#include <WiFiUdp.h>

String DISCORD_WEBHOOK = "ENTER_YOUR_DISCORD_WEBHOOK_URL"; //Production
const char* WiFi_ssid = "ENTER_YOUR_WIFI_NAME";
const char* WiFi_password = "ENTER_YOUR_WIFI_Password";

